.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: bold;
    justify-content: center;
}
.buttons{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-title{
    background: linear-gradient(black, rgb(29, 255, 29), black);
    -webkit-background-clip: text;
    color:  transparent;
    font-weight: bold;
}